html, body {
  height: 100%;
  background-color: #e5e5e5;
  /* text-align: center; */
  margin: 0;
}
.position{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
* {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

#app {
	position: relative;
	height: 100%;
	width: 100%;
	padding: 8px;
}

#main {
    flex-direction: row;
    width: 841px;
    min-height: 286px;
    background: white;
    margin: 100px auto;
}
#main > div {
    width: 489px;
    min-height: 166px;
    background-color: white;
    padding: 60px 0px;
}

/* heaing and paragraph............... */
#h1p{
    display: flex;
    flex-direction: column;
    padding: 0px;
    height: 51px;
}
#h1p h1, #h1p p{
    font-family: 'Noto Sans', sans-serif;
    flex: 0 0 auto;
    margin: 0px 0px;
}
#h1p h1 {
    width: 36px;
    height: 22px;
    font-weight: bold;
    font-size: 12.8px;
    color: #747474;
    line-height: 170%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
#h1p p{
    width: 157px;
    height: 19px;
    font-size: 13px;
    color: #606060;
    position: relative;
    top: 10px;
    font-style: italic;
    text-align: left;
}

#input-area{
    position: relative;
    top: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: 104px;
    /* justify-content: center; */
    padding: 10px 10px;
    width: 489px;
    background-color: #f5f5f5;
}
#input-area:hover{
    background-color: #ebebeb;
}

/* tasklist............................... */
.ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px;
}
.li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 40px;
    margin: 0px 10px 10px 0px;
    border-radius: 2px;
}
.li p {
    line-height: 24px;
    margin: 8px 30px 8px 10px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    color: #383838;
} 
.li img{
    margin-right: 10px;
    width: 15px;
    height: 15px;
}


/* input area...................................... */
input{
    background-color: transparent;
    border: none;
    padding: 10px 0px 10px 10px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    color: #AFAFAF;
    /* margin: 0px; */
}

input:focus{
    color: black;
    outline: none;
}
/* options list ........................................... */
#option_list {
    position: relative;
    text-align: left;
    top:15px;
    font-family: sans-serif;
    padding-top: 18px;
    background-color: white;
    width: 489px;
    max-height: 181px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
} 
#option_list > div {
    height: 42px;
    padding-bottom: 5px;
}
option {
    background-color: white;
    padding: 0px 0px 0px 19px;
    font-size: 14px;
    font-family: Noto Sans;
    line-height: 37px;
    color: #383838;
}
.active{
    background-color: #ebf6ff;
}

